.sidebar{
    background-color: #008c50;
    
    height: 100vh;
}


.logo_sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.img_logo_sidebar{
    width: 100%;

}

/*
.sidebar{

    background-image: url("/static/autenticacao/img/fundo_background2.png");
    background-position: center 320px;
    background-repeat: no-repeat;
    {% comment %} background-size: cover; {% endcomment %}

}
*/

.area_cadastrar{
    margin-top: 8%;
    margin-left: 15%;
    width: 70%;
}

.titulo{

    font-weight: bold;

}

.sub-titulo{
    color: gray;
}

.input-form{
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    outline: 0;

}

.input-form:focus{

    border: 2px solid #008c50 !important;
    outline: 0 !important;
    box-shadow: none !important;

}

.bold{
    font-weight: bold;
}

.btn-first{

    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 25px;
    background-color: #008c50;
    color: white;
    font-weight: bold;

}